<%- include("templates/header") %>

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <p class="text-danger fw-bold fs-3 text-center"><%= error %></p>

    <a href="/login" class="btn btn-outline-danger btn-lg mt-3">Try again</a>
</div>

<%- include("templates/footer") %>
