<%- include("templates/header") %>

<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <p class="display-4 text-center">Welcome to my website!</p>

    <form action="/signup" method="get" class="mb-2 w-100 d-flex justify-content-center">
        <button type="submit" class="btn btn-success btn-lg">Sign up</button>
    </form>

    <form action="/login" method="get" class="w-100 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-lg">Log in</button>
    </form>
</div>

<%- include("templates/footer") %>
