<!DOCTYPE html>
<html>
    
<head>
  <title>Home page</title>
</head>

<body>
    <p>Hello, <%= user.name %>!</p>
    <form action="/members" method="get">
        <button type="submit">Go to Members Area</button>
    </form>
    <form action="/logout" method="get">
        <button type="submit">Logout</button>
    </form>
</body>

</html>