<!DOCTYPE html>
<html>
    
<head>
  <title>Sign up</title>
</head>

<body>
    <p>login</p>
    <form action="/loginSubmit" method="post">
        <input type="email" id="email" name="email" placeholder="email"></input><br>
        <input type="password" id="password" name="password" placeholder="password"></input><br>
        <button type="submit">Submit</button>
    </form>
</body>

</html>