<!DOCTYPE html>
<html>
    
<head>
  <title>Sign up</title>
</head>

<body>
    <p>login</p>
    <form action="/loginSubmit" method="post">
        <input type="email" id="emailFieldLogin" placeholder="email"></input>
        <input type="password" id="passwordFieldLogin" placeholder="password"></input>
        <button type="submit">Submit</button>
    </form>
</body>

</html>