<!DOCTYPE html>
<html>
    
<head>
  <title>Sign up</title>
</head>

<body>
    <p>create user</p>
    <form action="/signupSubmit" method="post">
        <input type="text" id="nameFieldSignup" placeholder="name"></input>
        <input type="email" id="emailFieldSignup" placeholder="email"></input>
        <input type="password" id="passwordFieldSignup" placeholder="password"></input>
        <button type="submit">Submit</button>
    </form>
</body>

</html>